@tailwind base;
@tailwind components;
@tailwind utilities;




.transform {
  will-change: transform;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}

.border-gradient {
  background: #000;
  border: 2px solid;
  border-image: linear-gradient(to bottom, #fbbf24, #f59e0b, #fef521) 1;
  border-image-slice: 1;
}


/* animations.css */
@keyframes slide-out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust as needed */
  width: 100%;
  height: 2px; /* Adjust as needed */
  background-color: currentColor;
  transition: width 0.3s ease;
}

.underline-animation:hover::after {
  animation: slide-out 0.3s forwards;
}


